body {
    box-sizing: border-box;
    padding: 54px 0;
}
h1 {
    font-family: Roboto;
}
header {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#avatar {
    width: 50px;
    height: 50px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Account.png");

}

#logo {
    width: 40px;
    height: 40px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/Twitter\ Logo.png");
}

#effects {
    width: 35px;
    height: 35px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Feature\ stroke\ icon.png");
}

#card {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

#card span {
    color:#444;
}

#card-tweet {
    display: flex;    
}

#avatar-user{
    width: 80px; 
    height: 80px; 
    margin: 8px;
    border-radius: 50%; 
}

#tweet-name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    font-family: Roboto;
}

#tweet-username, #tweet-time {
    font-size: 14px;
    color: #787878;
    font-weight: 100;
    font-family: Roboto;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer a img {
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff
}